body{
  background-color: #b8e7f3;
  line-height: 1.5;
}

#main-section{
  border: solid 1px black;
  border-radius: 25px 0 25px 0;
  height: fit-content;
  padding: 10px;
  width: 95%;
  margin-bottom: 20px;
}

lab-section{
  border: solid 1px black;
  border-radius: 25px 0 25px 0;
  padding: 10px;
  width: 95%;
}
