html, body{
  background-color:#ffffff;
  font-size: 20px;
  background-image: url(../img/);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main{
  display: inline-block;
  width: 60%;
  margin: 10%;
  padding: 5%;
  background-color: #ffffff;
  border: dashed 10px #cddc39;
  border-radius: 25px 0 25px 0;
  height: fit-content;

}
nav{
  position: sticky;
    top: 0;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 25px 0 25px 0
}
h1{
  font-size: 50px;
  font-weight: bold;
}

h2{
  font-size: 30px;
}
.center-div {
  width: 30%;
  border: solid 3px black;
  height: 400px;
}

img{
  float: right;
  width: 300px;
  height: auto;
}
#output{
  border: 2px solid #00bcd4;
  border-radius: 25px 0 25px 0;
  padding: 10px;
}
